<a href="https://colab.research.google.com/github/Kamruzzamansust/Kamruzzamansust/blob/main/Introducing_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Here’s a simple example of a list that
#contains a few kinds of bicycles:
bicycles = [ "trek","cannondale","redline","specialized" ]
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

#Accessing Elements in a List

In [ ]:
'''Lists are ordered collections, so you 
can access any element in a list by
telling Python the position, or 
index, of the item desired. To access an element in a list, write the name of the list followed by the index of the item
enclosed in square brackets.''''

In [ ]:
bicycles = [ "trek","cannondale","redline","specialized" ]
print(bicycles[0])
print(bicycles[1])
print(bicycles[2])
print(bicycles[3])

trek
cannondale
redline
specialized

#Using Individual Values from a List

In [ ]:
bicycles = [ "trek","cannondale","redline","specialized" ]
mg = "my first bycylcle is"  + bicycles[2].title()
print(mg)

my first bycylcle isRedline

#List_exc_1

In [ ]:
'''Store the names of a few of your friends in a list called names.
Print each person’s name by accessing 
each element in the list, one at a time.'''

names = ["Alif","Amit","Upoma","Orco"]
print(names[0])
print(names[1])
print(names[2])
print(names[3])

Alif
Amit
Upoma
Orco

In [ ]:
'''but instead of just printing 
each person’s name, print a message to them. 
The text of each message should be the same, 
but each message should be
personalized with the person’s name.'''
names = ["alif","amit","upoma"]
msg = "how " + "are " + "you " + names[0].title() + " ?"
print(msg)
msg = f'how are you {names[2].title()} ?'
print(msg)
msg = f'how are you {names[1].title()} ?'
print(msg)

how are you Alif ?
how are you Upoma ?
how are you Amit ?

In [ ]:
'''Think of your favorite mode of transportation, such as a
motorcycle or a car, and make a list that stores several examples.
 Use your list
to print a series 
of statements about these items,
 such as “I would like to own a
Honda motorcycle.'''

cars = ["corolla","Bmw","mazda"]

msg = f'i want to buy {cars[0]}!'
print(msg)
msg = f'my frnd has a {cars[2].title()}'
print(msg)

i want to buy corolla!
my frnd has a Mazda

#Modifying Elements in a List

In [ ]:
'''The syntax for modifying an element is
similar to the syntax for accessing
an element in a list. To change an element, 
use the name of the list followed
by the index of the element you want to change,
and then provide the new
value you want that item to have'''
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles[2]="Runner"
print(motorcycles)

['honda', 'yamaha', 'Runner']

#Adding Elements to a List

In [ ]:
'''The simplest way to add a new element to a list is to append the item to the
list. When you append an item to a list, the new element is added to the end
of the list'''

motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('tvs')
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'tvs']

In [ ]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

#Inserting Elements into a List

In [ ]:
'''You can add a new element at any position
 in your list by using the insert()
method. You do this by specifying 
the index of the new element and the
value of the new item'''

frnds = ["Alif","Amit","Orco"]
frnds.insert(0,"upoma")
print(frnds)

['upoma', 'Alif', 'Amit', 'Orco']

#Removing Elements from a List

In [ ]:
#del method
frnds = ["Alif","Amit","Orco"]
del frnds[1]
print(frnds)

['Alif', 'Orco']

In [ ]:
#Removing an Item Using the pop() Method
frnds
last_frnd = frnds.pop()
print(last_frnd)

Orco

In [ ]:
#Popping Items from any Position in a List
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(2)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Suzuki.

In [ ]:
#Removing an Item by Value
frnds = ["Alif","Amit","Orco"]
print(frnds)
frnds.remove("Amit")
print(frnds)

['Alif', 'Amit', 'Orco']
['Alif', 'Orco']

In [ ]:
frnds = ["Alif","Amit","Orco"]
print(frnds)
fr = "Amit"
frnds.remove(fr)
print(frnds)
print("\nOnce " + "i have a frnd named" + " " + fr.lower())

['Alif', 'Amit', 'Orco']
['Alif', 'Orco']

Once i have a frnd named amit

#Organizing a List

In [6]:
#Sorting a List Permanently with the sort() Method
cars = ['bmw','audi','tyota','subaru']
cars.sort()
print(cars)
cars.sort(reverse = True)
print(cars)
#Sorting a List Temporarily with the sorted() Function
print(' Temporarily sorted list:')
print(sorted(cars))

['audi', 'bmw', 'subaru', 'tyota']
['tyota', 'subaru', 'bmw', 'audi']
 Temporarily sorted list:
['audi', 'bmw', 'subaru', 'tyota']

In [7]:
#Printing a List in Reverse Order
#To reverse the original order of a list, you can use the reverse() method. 
cars = [ 'bmw','audi','toyota','subaro']
print(cars)
cars.reverse()
print(cars)
'''The reverse() method changes the order of a list permanently, but you
can revert to the original order anytime by applying reverse() to the same
list a second time.'''

['bmw', 'audi', 'toyota', 'subaro']
['subaro', 'toyota', 'audi', 'bmw']

In [9]:
#Finding the Length of a List
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

#EXCERCISE

In [ ]:
#Think of at least five places in the world you’d like to visit.

In [24]:
#Store the locations in a list. Make sure the list is not in alphabetical order.

places = ['chittagong','dhaka','sylhet','nrayangomj','gaibandha']

#Print your list in its original order. 
#Don’t worry about printing the list neatly,
#just print it as a raw Python list

print(places)
#Use sorted() to print your list in alphabetical order without modifying the actual list.

print(sorted(places))
#Show that your list is still in its original order by printing it.
print(places)
#Use sorted() to print your list in reverse alphabetical order without 
#changing the order of the original list
print(sorted(places,reverse = True))
#Use reverse() to change the order of your list. 
#Print the list to show that its order has changed
places.reverse()
print(places)

#Use reverse() to change the order of your list again. Print the
#list to show it’s back to its original order.
places.reverse()
print(places)

#Use sort() to change your list so it’s stored in alphabetical order.
#Print the list to show that its order has been changed.

places.sort()
print(places)
places.sort(reverse = True)
print(places)

['chittagong', 'dhaka', 'sylhet', 'nrayangomj', 'gaibandha']
['chittagong', 'dhaka', 'gaibandha', 'nrayangomj', 'sylhet']
['chittagong', 'dhaka', 'sylhet', 'nrayangomj', 'gaibandha']
['sylhet', 'nrayangomj', 'gaibandha', 'dhaka', 'chittagong']
['gaibandha', 'nrayangomj', 'sylhet', 'dhaka', 'chittagong']
['chittagong', 'dhaka', 'sylhet', 'nrayangomj', 'gaibandha']
['chittagong', 'dhaka', 'gaibandha', 'nrayangomj', 'sylhet']
['sylhet', 'nrayangomj', 'gaibandha', 'dhaka', 'chittagong']