<a href="https://colab.research.google.com/github/Kamruzzamansust/Kamruzzamansust/blob/main/Working_with_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Looping Through an Entire List

In [ ]:
player = ['messi','ronaldo','neymar']
for p in player:
  print(p)

messi
ronaldo
neymar

In [ ]:
player = ['messi','ronaldo','neymar']
for p in player:
  print(f'{p} is a great player!!')

messi is a great player!!
ronaldo is a great player!!
neymar is a great player!!

#EXCERCISE

In [ ]:
'''Think of at least three kinds of your favorite pizza.
Store these pizza names in a list, and
then use a for loop to print the name of each pizza.'''

fvrt_pizza = ['irani','pizza slice','mexican pizza bun']
for pizza in fvrt_pizza:
  print(pizza)
print("\n")

# Print a sentence about each pizza.

for pizza in fvrt_pizza:
  print(f'i love {pizza} pizza!!')
print("\nsorry but i really love chicken mushroom pie")

irani
pizza slice
mexican pizza bun


i love irani pizza!!
i love pizza slice pizza!!
i love mexican pizza bun pizza!!

sorry but i really love chicken mushroom pie

In [ ]:
#Use a for loop to print the numbers from 1 to 20, inclusive.
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

#Making Numerical Lists

In [ ]:
#Using range() to Make a List of Numbers
numb =  list(range(0,7))
print(numb)

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
'''We can also use the range() function to tell Python 
to skip numbers
in a given range. 
For example, hereâ€™s how we would list the even numbers
between 1 and 10:'''
even = list(range(2,11,2))

print(even)

[2, 4, 6, 8, 10]

In [ ]:
squares = []

for i in range(1,11):
  square = i**2
  squares.append(square)
  print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = []

for i in range(1,11):
  square = i**2
  squares.append(square)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#List Comprehensions

In [ ]:
'''To use this syntax, begin with a descriptive name 
for the list, such as
squares. Next, open a set of
 square brackets and define the expression for
the values you want to store in the new list.'''


squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

EXCERCISE

In [13]:
#4-3. Counting to Twenty: Use a for 
#loop to print the numbers from 1 to 20,
#inclusive
for i in range(1,21):
  
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
'''4-4. One Million: Make a list of the numbers from one to one million, and then
use a for loop to print the numbers. (If the output is taking too long, stop it by
pressing ctrl-C or by closing the output window.)'''
for i in range(1, 21):
    print(i)

In [22]:
#4-6. Odd Numbers: Use the third argument of the range() function to make a list
#of the odd numbers from 1 to 20. Use a for loop to print each number.
count =0
for i in range(1,21,2):
  count+=1
  print(i)
print('------------')  
print(count)

1
3
5
7
9
11
13
15
17
19
------------
10

In [24]:
#4-7. Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to
#print the numbers in your list.

for i in range(3,31):
  mult = i*3
  print(mult)
print(''''

''''')
for i in range(3,31,3):
  print(i)

9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
'


3
6
9
12
15
18
21
24
27
30

In [25]:
'''4-8. Cubes: A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube.'''


for i in range(1,11):
  cube = i**3
  print(f'{i} cubed is {i**3}')

1 cubed is 1
2 cubed is 8
3 cubed is 27
4 cubed is 64
5 cubed is 125
6 cubed is 216
7 cubed is 343
8 cubed is 512
9 cubed is 729
10 cubed is 1000

In [29]:
#Use a list comprehension to generate a list of the
#first 10 cubes.
list = []
for i in range(1,11):
  cube = i**3
  list.append(cube)
print(list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [35]:
#Use a list comprehension to generate a list of the first 10 cubes.
cubes = [i**3 for i in range(1,11)]
print(cubes)
print('\n')
for cube in cubes:
  print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]


1
8
27
64
125
216
343
512
729
1000

#Working with Part of a List

In [43]:
#Slicing a List
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])
print(players[1:4])
print(players[:4])
print(players[2:])
print(players[-3:])

['charles', 'martina', 'michael']
['martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence']
['michael', 'florence', 'eli']
['michael', 'florence', 'eli']

#Looping Through a Slice

In [53]:
friends = ["alif","amit","opu","orco"]
print('They are my friends list:')
for f in friends:
  print(f.title())

They are my friends list:
Alif
Amit
Opu
Orco

#Copying a List

In [56]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']

In [59]:
'''Using one of the programs you wrote in this chapter, add several
lines to the end of the program that do the following:
1.Print the message, The first three items in the list are:. Then use a slice to
print the first three items from that programâ€™s list.
2.Print the message, Three items from the middle of the list are:. Use a slice
to print three items from the middle of the list.
3.Print the message, The last three items in the list are:. Use a slice to print
the last three items in the list.'''

foods=['pizza','burger','spaghetti','chips','sandwich','coke']
print("The first three items in the list are:")
for food in foods[:3]:
	print(food.title())
print("\n")

print("Three items from the middle of the list are:")
for food in foods[1:4]:
	print(food.title())
print("\n")

print("The last three items in the list are:")
for food in foods[-3:]:
  print(food.title())

The first three items in the list are:
Pizza
Burger
Spaghetti


Three items from the middle of the list are:
Burger
Spaghetti
Chips


The last three items in the list are:
Chips
Sandwich
Coke